@import url(../styles/style.css);
 @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap");

.banner{
  background: url(../resources/imagenes/actividades-02.jpg);   
  width: 100vw;
  height: 30vh;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover; /* Estira la imagen para cubrir todo el fondo */
}

main{
  height: 115rem; /*con 100% no responde para bajar el footer*/
}

.banner h1{
  color: #fff;
  margin-top: 130px;
  line-height: 30vh;
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 4em ;
  text-shadow: 5px 3 px 8 px #785; 
} 

.texto-foto1{
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  width: 100vw;
}

.texto1{
  width: 70%;
  font-size: 1.5em;
  padding: 0.5em;
}

.foto1{
  width: 30%;
  height: 100%;
  text-align: center;
}

.foto1 img{
  border-radius: 10px;
  height: 23%;
  width: 70%;
  }  

.foto-abajo1{
  display: flex;
  width: 100vw;
  height: auto;
  text-align: center;
  justify-content: space-around;
}

.foto-abajo1 img{
  border-radius: 10px;  
  margin-right: 2em;
  width: 23%
}


@media screen and (max-width: 1231px) {
  main{
    height: 125rem; /*con 100% no responde para bajar el footer*/
  }

  .texto-foto1{
    height: 70vh;
    width: 100vw;
  }

  .texto1{
    width: 65%;
    font-size: calc(1.8em - 0.9vw);
    padding: 0.5em;
  }

  .foto1{
    width: 35%;
    height: 100%;
    text-align: center;
  }

  .foto1 img{
    border-radius: 10px;
    height: 14%;
    width: 50%;
  }  

  .foto-abajo1 img{
    border-radius: 10px;  
    width: 20%;
    margin-left: 1.0em;
  }
}


@media screen and (max-width: 768px) {
  main{
    height: 85rem; /*con 100% no responde para bajar el footer*/
  }
 
  .texto-foto1 {
    flex-direction: column;
  }
  .texto1 {
    width: 100%;
    font-size: 0.9em;
    padding: 0.5em;
  }

  .foto1 {
   display: none; /* Oculta el elemento */

  }
  
  .foto-abajo1 {
    order: -1; /* Cambia el orden, se muestra después */
    display: flex;
    width: 100vw;
    height: auto;
    text-align: center;
    justify-content: space-around;
  }

  .foto-abajo1 img{
    border-radius: 10px;  
    width: 15%;
    margin-left: 1.0em;
  }
}






  
