@import url(../styles/style.css);
 @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap");
 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
  }
  
 .divnos{
    display: flex;
    position:relative;
    height: 30vw;
    width: 100vw;
    margin-bottom: 2em;
   /*  background: URL(/TPO/imgs/sierrabrava.jpg) ;
    background-repeat: no-repeat; */
   
}

.textoimg{
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
    font-size: 2vw; 
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

h1{
    font-size: 3.5em;
    text-align: center;
}

.ctrtxt{
    margin-left: 5%;
    margin-right: 5%;
}

p{
    font-size: 1.15em;
}
@media (max-width: 768px) {
    .divnos{
        height: 50vh;
    }
    .textoimg{
        font-size: 1 rem;
    }
}